<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recent Tweets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/site.css">
</head>
<body>
<h1>Your tweets</h1>
{%  for t in recent_tweets %}
   <div class="tweet">
   <div class="text">{{ t.text }}</div>
   <div class="name">{{ t.name }}</div>

   </div>
{% endfor %}
</body>
</html>